<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name = "netBankingV1">
<listeners>
<listener class-name = "com.netBanking.Utilities.Reporting"/>
</listeners>
<test name = "Banking APP Test">
   <parameter name = "browser" value ="chrome"/>
   
   <classes>
    <class name = "com.netBanking.TestCases.TC_LoginTest_001"/> 
  <!--  <class name = "com.netBanking.TestCases.TC_LoginDDT_002"/> -->
   
   </classes>
  
</test>

</suite>